version: "3"

services:
  samba:
    image: dperson/samba
    container_name: samba
    ports:
      - "139:139"
      - "445:445"
    volumes:
      - ./data:/share
    # In the command below, change 'user' and 'password' to your desired credentials.
    # Or, for guest access with no password, use: -s "public;/share;yes;yes;yes"
    command: -u "user;password" -s "public;/share;yes;no;yes"
    restart: unless-stopped
