version: "3.8"
services:
  wg-easy:
    image: weejewel/wg-easy
    container_name: wireguard
    environment:
      # This should be your server's public IP or domain name
      - WG_HOST=${WG_HOST}
      # The password for the web UI admin panel
      - PASSWORD=${PASSWORD}
    volumes:
      - ./config:/etc/wireguard
    ports:
      - "51820:51820/udp"
      - "51821:51821/tcp"
    cap_add:
      - NET_ADMIN
    restart: unless-stopped